node_modules/
dist/
build-release/
build-*/
release/
.env
.env.*
*.log
*.tmp
*.zip
launcher/
profiles/
BaldLauncher-backup-*
**/launcher-state.json
**/launcher-state*.json
**/settings.json
**/.DS_Store
